*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background: #000046;
    background: linear-gradient(to right, #1CB5E0,#000046);
}

.tablero{
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);
    background-color: white;
    border:dotted thin black;
}

.tablero *{
    text-align: center;
    font-size: 40px;
    transition:  0.2s ease-in-out;
    user-select: none;
    border: black thin solid;
}

.tablero * :hover{
    font-weight: 600;
    float: left;
}

.grass1{
    background-image: url("/images/cesped\ -\ 1.jpg");
}
.grass2{
    background-image: url("/images/cesped\ -\ 2.jpg");
}
.grass3{
    background-image: url("/images/cesped\ -\ 3.jpg");
}
.link{
  padding:13px;
  background-size: 100% 100%;
  background-repeat:no-repeat;
  background:url("/images/link.jpg");
  background-size: cover;
}
.chest{
    background-image: url("/images/cofre.png");
}
.wall{
    background-image: url("/images/muro.jpg");
}
.error{
    width: 80px;
    height: 80px;
    background: url("/images/error.png");
}

.centro-control{
    float: right;
}
