*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-image: url("../images/background.png");
    background-position-x:center;
    background-position-y:center;
    background-size: cover;
}

.tablero{
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);
    background-color: white;
    border:dotted thin black;
}

.tablero *{
    transition:  0.5s ease-in-out;
    border: black thin solid;
}

.grass1{
    padding:13px;
    background-repeat:no-repeat;
    background-image:url("../images/cesped-1.jpg");
    background-size: cover; 
}

.link{
    padding:13px;
    background-repeat:no-repeat;
    background-image:url("../images/link.jpg");
    background-size: cover;
}
.chest{
    padding:13px;
    background-repeat:no-repeat;
    background-image:url("../images/cofre.jpg");
    background-size: cover;
}
.wall{
    padding:13px;
    background-repeat:no-repeat;
    background-image:url("../images/muro.jpg");
    background-size: cover;
}

.arrowUp{
    padding:13px;
    background-repeat:no-repeat;
    background-image:url("../images/camino-up.jpg");
    background-size: cover; 
}
.arrowLeft{ 
    padding:13px;
    background-repeat:no-repeat;
    background-image:url("../images/camino-left.jpg");
    background-size: cover; 
}
.arrowRight{
    padding:13px;
    background-repeat:no-repeat;
    background-image:url("../images/camino-right.jpg");
    background-size: cover; 
}
.arrowDown{
    padding:13px;
    background-repeat:no-repeat;
    background-image:url("../images/camino-down.jpg"); 
    background-size: cover; 
}

div{
    float: left;
}

#up,#left,#right,#down{
    width: 60px;
    height: auto;
    margin: 10px;
}



#answer {
    bottom: 5;
    margin: center;
}

p{
    font-family: "Myriad Pro", "sans-serif";
    font-size: 30pt;
    color: white;
    float: left;
}

#move_set{
    width: 300px;
    height: 80px;
    display: flex;
    overflow-x: auto;
    background-color: #558b2f;
    margin-left: 15px;
}

#back{
    background-color: transparent;
    border: transparent;
    outline: none;
}

footer {
    position:center;
    bottom:bottom;

 }