html,
body {
    background-image: url("../images/background-reports.png");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    height: 100%;
    position: relative;
}

div{
    width: 45%;
    text-align: center;
    opacity: 0.8;
    background-color: aliceblue;
    margin-bottom: 70px;
    margin-top: 70px;
}