html,
body {
    background-image: url("../images/background-reports.png");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    height: 100%;
    position: relative;
}

#d1,#d2,#d3,#d4,#d5,#users{
    width: 18%;
    text-align: left;
    opacity: 0.8;
    background-color: aliceblue;
    margin-top: 50px;
    display: inline-block;
}